<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abashop.mapper.BasketMapper">
    <resultMap id="BasketResultMap" type="Basket">
        <constructor>
            <idArg column="basket_id" javaType="java.lang.Long" jdbcType="BIGINT"/>
            <arg column="shop_id" javaType="java.lang.Long" jdbcType="BIGINT"/>
            <arg column="goods_id" javaType="java.lang.Long" jdbcType="BIGINT"/>
            <arg column="num" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="user_id" javaType="java.lang.Long" jdbcType="BIGINT"/>
            <arg column="basket_date" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
        </constructor>
    </resultMap>
    <sql id="Basket_Column_List">
    basket_id, shop_id, goods_id, num, user_id, basket_date
  </sql>
    <!--TODO 多表查询写的有问题 取数据出问题的话，重点看这里 -->
    <resultMap id="Cart" type="Basket" extends="BasketResultMap">
        <association property="goods" javaType="Goods">
            <result column="price" property="price"/>
            <result column="goods_name" property="goodsName"/>
            <result column="goods_pic" property="goodsPic"/>
        </association>
        <association property="shop" javaType="Shop">
            <result column="shop_name" property="shopName"/>
        </association>
    </resultMap>
    <select id="selectCartByUser" parameterType="java.lang.Long" resultMap="Basket">
        select b.basket_id, s.shop_name, g.goods_name, b.num, b.basket_date, g.price, g.goods_pic
        from basket b,left join shop s on b.shop_id = s.shop_id
        left goods g on b.goods_id = g.goods_id
        where u.user_id = #{userId,jdbcType=BIGINT}
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BasketResultMap">
        select
        <include refid="Basket_Column_List"/>
        from basket
        where basket_id = #{basketId,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from basket
    where basket_id = #{basketId,jdbcType=BIGINT}
  </delete>
    <insert id="insert" parameterType="Basket">
    insert into basket (basket_id, shop_id, goods_id, 
      num, user_id, basket_date
      )
    values (#{basketId,jdbcType=BIGINT}, #{shopId,jdbcType=BIGINT}, #{goodsId,jdbcType=BIGINT}, 
      #{num,jdbcType=INTEGER}, #{userId,jdbcType=VARCHAR}, #{basketDate,jdbcType=TIMESTAMP}
      )
  </insert>
    <insert id="insertSelective" parameterType="Basket">
        insert into basket
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="basketId != null">
                basket_id,
            </if>
            <if test="shopId != null">
                shop_id,
            </if>
            <if test="goodsId != null">
                goods_id,
            </if>
            <if test="num != null">
                num,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="basketDate != null">
                basket_date,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="basketId != null">
                #{basketId,jdbcType=BIGINT},
            </if>
            <if test="shopId != null">
                #{shopId,jdbcType=BIGINT},
            </if>
            <if test="goodsId != null">
                #{goodsId,jdbcType=BIGINT},
            </if>
            <if test="num != null">
                #{num,jdbcType=INTEGER},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=VARCHAR},
            </if>
            <if test="basketDate != null">
                #{basketDate,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="Basket">
        update basket
        <set>
            <if test="shopId != null">
                shop_id = #{shopId,jdbcType=BIGINT},
            </if>
            <if test="goodsId != null">
                goods_id = #{goodsId,jdbcType=BIGINT},
            </if>
            <if test="num != null">
                num = #{num,jdbcType=INTEGER},
            </if>
            <if test="userId != null">
                user_id = #{userId,jdbcType=VARCHAR},
            </if>
            <if test="basketDate != null">
                basket_date = #{basketDate,jdbcType=TIMESTAMP},
            </if>
        </set>
        where basket_id = #{basketId,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="Basket">
    update basket
    set shop_id = #{shopId,jdbcType=BIGINT},
      goods_id = #{goodsId,jdbcType=BIGINT},
      num = #{num,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=VARCHAR},
      basket_date = #{basketDate,jdbcType=TIMESTAMP}
    where basket_id = #{basketId,jdbcType=BIGINT}
  </update>
</mapper>