<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abashop.mapper.UserMapper">
    <resultMap id="UserResultMap" type="User">
        <constructor>
            <idArg column="user_id" javaType="java.lang.Long" jdbcType="BIGINT"/>
            <arg column="user_name" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="sex" javaType="java.lang.String" jdbcType="CHAR"/>
            <arg column="user_password" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="phone" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="user_img_id" javaType="java.lang.String" jdbcType="VARCHAR"/>
        </constructor>
    </resultMap>
    <resultMap id="ResultMap" type="User">
        <constructor>
            <arg column="user_name" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="sex" javaType="java.lang.String" jdbcType="CHAR"/>
            <arg column="phone" javaType="java.lang.String" jdbcType="VARCHAR"/>
        </constructor>
    </resultMap>
    <sql id="Base_Column_List">
    user_id, user_name, sex, user_password, phone, user_img_id
  </sql>
   <!-- <sql id="SelectByUser">
    user_name, sex, phone
  </sql>-->
    <select id="selectByUser" parameterType="User" resultMap="ResultMap">
        select user_name, sex, phone
        from user
        where
        <if test="userName != null">
            user_name = #{userName,jdbcType=VARCHAR}
        </if>
        <if test="phone != null">
            phone = #{phone,jdbcType=VARCHAR}
        </if>
        and user_password = #{userPassword,jdbcType=VARCHAR}
    </select>
    <select id="selectForLogin" parameterType="User" resultMap="UserResultMap">
        select
        <include refid="Base_Column_List"/>
        from user
        where
        <if test="userName != null">
            user_name = #{userName,jdbcType=VARCHAR}
        </if>
        <if test="phone != null">
            phone = #{phone,jdbcType=VARCHAR}
        </if>
        and user_password = #{userPassword,jdbcType=VARCHAR}
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="UserResultMap">
        select
        <include refid="Base_Column_List"/>
        from user
        where user_id = #{userId,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete
        from user
        where user_id = #{userId,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="User">
    insert into user (user_id, user_name, sex, 
      user_password, phone, user_img_id
      )
    values (#{userId,jdbcType=BIGINT}, #{userName,jdbcType=VARCHAR}, #{sex,jdbcType=CHAR}, 
      #{userPassword,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{userImgId,jdbcType=VARCHAR}
      )
  </insert>
    <insert id="insertSelective" parameterType="User">
        insert into user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                user_id,
            </if>
            <if test="userName != null">
                user_name,
            </if>
            <if test="sex != null">
                sex,
            </if>
            <if test="userPassword != null">
                user_password,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="userImgId != null">
                user_img_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                #{userId,jdbcType=BIGINT},
            </if>
            <if test="userName != null">
                #{userName,jdbcType=VARCHAR},
            </if>
            <if test="sex != null">
                #{sex,jdbcType=CHAR},
            </if>
            <if test="userPassword != null">
                #{userPassword,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="userImgId != null">
                #{userImgId,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="User">
        update user
        <set>
            <if test="userName != null">
                user_name = #{userName,jdbcType=VARCHAR},
            </if>
            <if test="sex != null">
                sex = #{sex,jdbcType=CHAR},
            </if>
            <if test="userPassword != null">
                user_password = #{userPassword,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="userImgId != null">
                user_img_id = #{userImgId,jdbcType=VARCHAR},
            </if>
        </set>
        where user_id = #{userId,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="User">
    update user
    set user_name = #{userName,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=CHAR},
      user_password = #{userPassword,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      user_img_id = #{userImgId,jdbcType=VARCHAR}
    where user_id = #{userId,jdbcType=BIGINT}
  </update>
</mapper>